<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, modi
          quasi qui excepturi cum, optio illo amet saepe, perferendis iusto
          tenetur? Dignissimos, quis? Obcaecati atque est exercitationem natus
          iste velit voluptatem! Possimus iure doloremque itaque animi nulla
          vero iste. Unde error nisi iusto omnis saepe nam aperiam reprehenderit
          atque quos cupiditate maiores, culpa ratione explicabo quia ullam
          aspernatur vitae ipsum deserunt necessitatibus. Et eaque ullam enim
          asperiores ipsum ut dolor temporibus culpa corporis, explicabo non
          quibusdam ratione nobis totam perferendis blanditiis voluptatibus,
          cupiditate ex atque libero, tempore omnis distinctio voluptatem!
          Itaque corrupti, sint velit enim vel ea incidunt quibusdam
          consectetur. Natus, similique sit? Odio vel illum, iusto distinctio
          repellat voluptatum, accusantium facere eaque ducimus provident ullam
          quis fugiat tempore voluptatem. Harum assumenda aut culpa provident
          illo magni officiis molestias quasi accusantium, consequuntur fugit
          explicabo ut totam? Minus quisquam cumque facere laudantium explicabo
          placeat nesciunt cum accusantium non! Repudiandae id laborum
          cupiditate expedita consectetur minus debitis. Dolore provident,
          itaque tenetur quidem, repellat nesciunt, unde eveniet eos at iure
          rerum vel illo illum quibusdam quae soluta porro nihil nam dolor. Quia
          animi alias vero quisquam consequuntur enim nam cum quibusdam. Ab
          alias expedita consequatur laboriosam saepe libero corrupti qui?
          Dolores, dolor quos!
        </p>
      </section>
    </main>
  </body>
</html>
